html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  color: white;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

body h1,
body h2,
body h3 {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #674baf;
  background-image: url("/images/bg-mobile.svg");
  background-position: center top;
  background-size: 104%;
  background-repeat: no-repeat;
}

@media (min-width: 64em) {
  body {
    background-image: url("/images/bg-desktop.svg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.header__logo {
  padding-top: 2.5rem;
  padding-left: 1.875rem;
  margin-bottom: 4.4375rem;
}

.header__logo img {
  width: 127px;
  height: 28px;
}

@media (min-width: 64em) {
  .header__logo img {
    width: 262px;
    height: 40px;
  }
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 40em) {
  .content {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.content__image {
  margin-bottom: 4.375rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.content__image img {
  width: 297px;
  height: 215px;
}

@media (min-width: 40em) {
  .content__image img {
    width: 498px;
    height: 410px;
    margin-left: 0;
  }
}

@media (min-width: 64em) {
  .content__image img {
    width: 704px;
    height: 489px;
    margin-left: 2.9rem;
  }
}

.content__title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 3.5625rem 0.75rem 3.75rem;
}

@media (min-width: 40em) {
  .content__title {
    margin-left: 0;
    text-align: left;
    padding-top: 3rem;
  }
}

@media (min-width: 64em) {
  .content__title {
    text-align: left;
    padding-top: 3rem;
    margin: 0 2rem 2.25rem 0;
  }
}

.content__title h1 {
  font-size: 1.4375rem;
}

@media (min-width: 64em) {
  .content__title h1 {
    font-size: 2.3rem;
  }
}

.content .title1 {
  margin-bottom: 0.6875rem;
}

.content__description {
  font-size: 1rem;
  margin-left: 2.4rem;
  margin-right: 2.5rem;
  line-height: 1.6;
  text-align: center;
}

@media (min-width: 40em) {
  .content__description {
    text-align: left;
    margin-left: 0;
  }
}

@media (min-width: 64em) {
  .content__description {
    font-size: 1rem;
    margin-right: 2.5625rem;
  }
}

.cta-button {
  margin: 0.8125rem 5.5rem 0 5.5rem;
  padding: 1rem 4.8125rem 0.75rem 4.8125rem;
  border: 0;
  border-radius: 2rem;
  font-size: 0.875rem;
  color: #674baf;
  font-family: "Poppins", sans-serif;
  -webkit-box-shadow: 5px 5px 10px #3d2c68;
          box-shadow: 5px 5px 10px #3d2c68;
}

@media (min-width: 40em) {
  .cta-button {
    margin-left: 0;
  }
}

@media (min-width: 64em) {
  .cta-button {
    padding: 1.125rem 3.8125rem 1.125rem 3.8125rem;
    margin-top: 0;
  }
}

.cta-button:hover {
  background-color: #e882e8;
  color: white;
}

.social-icons {
  margin: 4.0625rem 8.5rem 2.5rem 8.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2.5625rem;
}

@media (min-width: 40em) {
  .social-icons {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 4.8125rem;
  }
}

.social-icons i.fab {
  border: 1px solid #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-icons i.fab:hover {
  color: #e882e8;
  border-color: #e882e8;
}

.social-icons :not(:last-child) {
  margin-right: 0.6875rem;
}
/*# sourceMappingURL=styles.css.map */